<section class="benefits">
  <div class="container">
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <h3 class="benefits-title">01</h3>
        <p class="benefits-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-title">02</h3>
        <p class="benefits-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-title">03</h3>
        <p class="benefits-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="benefits-list-item">
        <h3 class="benefits-title">04</h3>
        <p class="benefits-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ul>
    <img src="" alt="" srcset="" />
  </div>
</section>
