<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a href="" class="main-logo"><img src="/img/logo.svg" alt="" /></a>
      <ul class="nav-links">
        <li class="nav-link-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >About us</a
          >
        </li>
        <li class="nav-link-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Our collection</a
          >
        </li>
        <li class="nav-link-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >CUSTOMER ORDER</a
          >
        </li>
        <li class="nav-link-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-contact-info">
      <address>
        <a href="tel:00380684439426">+380 (68) 443-94-26</a>
      </address>
      <ul class="social-links">
        <li>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to our Facebook page"
            ><img src="/img/facebook.svg" alt="Facebook icon"
          /></a>
        </li>
        <li>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to our Instagram page"
            ><img src="/img/instagram.svg" alt="Instagram icon"
          /></a>
        </li>
        <li>
          <a
            href="http://"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to our YouTube page"
          >
            <img src="/img/youtube.svg" alt="YouTube icon" />
          </a>
        </li>
      </ul>
      <a
        href="http://"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to menu"
        class="burger-menu-icon"
        ><img src="/img/Nav.svg" alt=""
      /></a>
    </div>
  </div>
</header>
