<section class="main-form">
  <div class="container">
    <img src="./img/form-image.jpg" alt="" class="main-form-image" />
    <form action="" class="main-form">
      <h2 class="main-form-title"></h2>
      <label class="main-form-name"
        ><input
          class="main-form-input"
          type="text"
          name="name"
          placeholder="Full Name"
      /></label>
      <label class="main-form-email"
        ><input
          class="main-form-input"
          type="email"
          name="email"
          placeholder="Email"
      /></label>
      <label class="main-form-phone"
        ><input
          class="main-form-input"
          type="tel"
          name="phone"
          placeholder="Phone number"
      /></label>
      <label class="main-form-ta"
        ><input
          type="text"
          class="main-form-input textarea"
          name="message"
          placeholder="Comment"
      /></label>
      <button type="submit" class="main-form-btn">Send</button>
    </form>
  </div>
</section>
