<section class="mobile-menu">
  <div class="container">
    <div class="logo">
      <a href="http://" target="_blank" rel="noopener noreferrer">yachtjet</a>
      <button class="close-button"></button>
    </div>
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">About</a>
        </li>
        <li class="nav-list-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a href="http://" target="_blank" rel="noopener noreferrer"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <div class="social-links">
      <ul class="social-links-list">
        <li class="social-links-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="24" height="24">
              <use href="/img/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li class="social-links-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="24" height="24">
              <use href="/img/sprite.svg#youtube"></use></svg
          ></a>
        </li>
        <li class="social-links-item">
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="24" height="24">
              <use href="/img/sprite.svg#facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
