<section class="our-products">
    <div class="container">
        <h2>Choose your dream yacht and sail away into the sunset</h2>
        <div class="product-cards">
            <ul class="product-card-content">
                <li class="card-content-item">
                    <img src="" alt="">
                    <p>Arrow <span class="right-side">LUXURY YAHTS</span></p>
                    <ul>
                        <li>LENGTH <span class="right-side">48m(155ft) </span></li>
                        <li>BUILDER <span class="right-side">Admiral</span></li>
                        <li>BUILT <span class="right-side">2021</span></li>
                        <li>GUESTS <span class="right-side">11 in 5 cabins</span></li>
                        <li>PRICE <span class="right-side">€33,500,000</span></li>
                    </ul>
                </li>
                <li class="card-content-item">
                    <img src="" alt="">
                    <p>BENETTI OASIS 40M BO122<span class="right-side">LUXURY YAHTS</span></p>
                    <ul>
                        <li>LENGTH  <span class="right-side">41m (133ft)</span></li>
                        <li>SHIPYARD<span class="right-side">Benetti</span></li>
                        <li>BUILT <span class="right-side">2025</span></li>
                        <li>GUESTS <span class="right-side">10 in 5 cabins</span></li>
                        <li>PRICE<span class="right-side">€23,210,000</span></li>
                    </ul>
                </li>
                <li class="card-content-item">
                    <img src="" alt="">
                    <p>BELLE ANNA<span class="right-side">LUXURY YAHTS</span></p>
                    <ul>
                        <li>LENGTH  <span class="right-side">50m(155ft) </span></li>
                        <li>SHIPYARD<span class="right-side">ISA</span></li>
                        <li>BUILT <span class="right-side">2012</span></li>
                        <li>GUESTS <span class="right-side">12 in 6 cabins</span></li>
                        <li>PRICE<span class="right-side">€21,000,000</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button">Yacht rental</button>
    </div>
</section>