body {
  background-color: #fff;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  display: block;
}
address {
  font-style: normal;
}
section,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0e1823;
}
