.social-links,
.main-nav {
  display: none;
}
.header .container {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  padding: 4px;
}
.header {
  color: #1b414b;
}
.logo {
  margin-left: 30px;
}
.logo a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  transition: all 0.2s ease-in-out;
}
.nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.5);
  height: 40px;
  width: 91px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.nav-list-item a:hover,
.nav-list-item a:focus {
  background: #1b414b;
}
.nav-list-item a {
  padding: 14px 25px;
  color: #fbfbfb;
  font-size: 9px;
  line-height: 130%;
  text-transform: uppercase;
  border-radius: 8px;
}
.social-links,
.burger-menu {
  margin-right: 30px;
}
.social-links-list {
  display: flex;
  gap: 8px;
}
.social-links-item {
  height: 24px;
  width: 24px;
}
.social-icon {
  fill: #1b414b;
}
.social-links-item:hover .social-icon,
.social-links-item:focus .social-icon {
  fill: #062730;
}
.burger-menu {
  border: none;
  background-color: transparent;
  height: 28px;
  width: 28px;
  background: url('/img/burger-menu.svg') no-repeat center;
  background-size: contain;
}
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .social-links,
  .main-nav {
    display: block;
  }
  .logo a {
    font-size: 20px;
  }
}
